<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      th:fragment="page">
<head>
  <meta charset="UTF-8">
  <title>Recipes</title>
</head>
<body style="display: flex; flex-direction: row;">

<aside style="width: 150px; margin-right: 50px">
  <a th:href="@{recipes}">Find all</a>
  <br>
  <a th:href="@{recipeById}">Find by ID</a>
  <br>
  <a th:href="@{createRecipe}">Create new element</a>
  <br>
  <a th:href="@{updateRecipe}">Update</a>
  <br>
  <a th:href="@{deleteRecipe}">Delete</a>
  <br>
</aside>
<main style="width: 450px">
  <div th:include="this :: content"></div>
</main>
</body>
</html>