<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of recipies</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <h2>Recipies list</h2>
    </div>
</div>
<div id="container">
    <div id="content">
        <input type="button" value="Add recipe"
               onclick="window.location.href = 'add.html';
                return false;"
        />

        <table border="1">
            <tr style="font-size: 13">
                <td>ID</td>
                <td>Name</td>
            </tr>
            <tr th:each="recipe :  ${recipies}">
                <td><p th:text="${recipe.id}"/></td>
                <td><p th:text="${recipe.title}"/></td>

            </tr>
        </table>
    </div>

</div>
</body>
</html>