<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
    <title>Recipe of the day</title>
</head>
<body>
<div class="main-div">
    <h1>The recipe of the day</h1>
    <b>
        <p class="min-font-size" th:text="${id}"></p>
    </b>
    <b>
        <p class="min-font-size" th:text="${title}"></p>
    </b>
    <button><a th:href="@{/api}">Back to the welcome page</a></button>
</div>
</body>
</html>