<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add recipe</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>

</head>
<body>
<div id="wrapper">
    <div id="header">
        <h2>Update recipe</h2>
    </div>
</div>
<div id="container">
    <div id="content">
        <br>
        <form th:action="@{update}" th:object="${recipe}" method="POST">
            Recipe id:
            <input type="text" th:field="*{id}" readonly/>
            <br><br>
            Recipe title:
            <input type="text" th:field="*{title}"/>
            <br/><br>
            <input type="submit" value="Update" class="add-recipe-button"/>
        </form>
    </div>
</div>
<p>
    <a href="/recipe/list">Back to List</a>
</p>
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/lib.js}"></script>
</body>
</html>